@inject ISnackbar Snackbar

<MudDialog>
    <TitleContent>
        <MudStack Row="true" AlignItems="AlignItems.Center">
            <MudIcon Icon="@Icons.Material.Filled.Security" Color="Color.Primary" Class="mr-2" />
            <MudText Typo="Typo.h6">Credentials</MudText>
        </MudStack>
    </TitleContent>
    <DialogContent>
             <MudAlert Severity="Severity.Info" Class="mb-4" Icon="@Icons.Material.Filled.Info" Variant="Variant.Filled">
              <MudText Typo="Typo.body1">  Updating credentials for secret: <span style="color: #880088">@SecretName</span></MudText> 
             </MudAlert>
        <MudGrid Spacing="2">
            <MudItem xs="12">
                <MudTextField 
                    @bind-Value="TokenName" 
                    Label="Username/Token Name" 
                    Variant="Variant.Outlined"
                    Adornment="Adornment.Start" 
                    AdornmentIcon="@Icons.Material.Filled.Person"
                    FullWidth="true"
                    Class="mb-3" />
            </MudItem>
            <MudItem xs="12">
                <MudTextField 
                    @bind-Value="Token" 
                    Label="Password/Token" 
                    Variant="Variant.Outlined"
                    Adornment="Adornment.Start" 
                    AdornmentIcon="@Icons.Material.Filled.Key"
                    FullWidth="true" />
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <MudButton 
            OnClick="@DialogCancel" 
            Variant="Variant.Text" 
            Color="Color.Default">
            Cancel
        </MudButton>
        <MudButton 
            Color="Color.Primary" 
            OnClick="@DialogSubmit" 
            Variant="Variant.Filled"
            StartIcon="@Icons.Material.Filled.Save">
            Save Credentials
        </MudButton>
    </DialogActions>
</MudDialog>